<section class="content-header">
    <h1 class="lead">
        Admin System Management
        <small>Tweek, twerk and toggle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Admin</li>
    </ol>
</section>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="row">
           
            <div class="col-md-12">
                <p class="lead text-muted"> Business Settings</p>
                <a class="btn btn-app btn-success">
                    <i class="fa fa-bell-o" style="width:120px"></i> Business Hours
                </a>
                <a class="btn btn-app btn-info" style="width:120px">
                    <i class="fa fa-bullhorn"></i> SLA's
                </a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            
            <div class="col-md-12">
                <p class="lead text-muted"> Agent Settings</p>
                <a class="btn btn-app btn-danger">
                    <i class="fa fa-gamepad" style="width:120px"></i> Set Achievements
                </a>
                <a class="btn btn-app btn-primary" style="width:220px">
                    <i class="fa fa-trophy"></i> Reward Points - Customize
                </a>
                @*<a class="btn btn-app btn-danger" style="width:120px">
                    <i class="fa fa-ambulance"></i> Claims
                </a>
                <a class="btn btn-app btn-primary" style="width:120px">
                    <i class="fa fa-male"></i> Client Info
                </a>
                <a class="btn btn-app btn-warning" style="width:120px">
                    <i class="fa fa-money"></i> Financial*@
                </a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-12">
                <p class="lead text-muted"> Adminstration Settings</p>
                <a href="@Url.Action("BusinessUnit","Admin")" class="btn btn-app btn-warning">
                    <i class="fa fa-home" style="width:120px"></i> Departments
                </a>
            </div>
        </div>
    </div>
</div>